#PostgreSQL configuration data
# host, port, user, password - data needed to create the connection
# dbname - database name used (in case it would clash with your existing DB)
[database]
host = localhost
port = 5432
user = postgres
password = db_password
dbname = perspectives

#Configuration of signing keys
# private - full path to private signing key for responses
[keys]
private = /full/path/to/notary.priv
