#PostgreSQL configuration data
# host, port, user, password - data needed to create the connection
# dbname - database name used (in case it would clash with your existing DB)
# min_connections, max_connections - every thread in scanner uses own
#   connection, set to appropriate values
[database]
host = localhost
port = 5432
user = perspectives
password = db_password
dbname = perspectives
#note that cherrypy uses up to 10 threads by default and there is one additional
#storage thread (see on_demand_storage_threads below)
min_connections = 1
max_connections = 20

#Configuration of signing keys
# private - full path to private signing key for responses
[keys]
private = notary.priv

#Notary server options:
# use_sni - whether Server Name Indication should be used when scanning
#
# Logging: - loglevel can be one of debug, info, warning, error, critical
#          - empty logfile name will cause log to stderr
#
# app_log - logfile for application (notary_http.py)
# app_loglevel - loglevel for application
# scanner_log - logfile for threaded_scanner
# scanner_loglevel - loglevel for scanner
#
# cherrypy_config - config file for cherrypy (HTTP wrapper)
#
# on_demand_scan_threads - number of threads for scanning new services from
#           notary HTTP server
# on_demand_scan_timeout - timeout in seconds for on-demand SSL/TLS scanner
# on_demand_storage_threads - number of threads storing scanned results from
#           on-demand scans in notary HTTP server
[server]
use_sni = true
app_log = app.log
app_loglevel = info
scanner_log = scanner.log
scanner_loglevel = info
cherrypy_config = cherrypy.conf
on_demand_scan_threads = 20
on_demand_scan_timeout = 10
on_demand_storage_threads = 1

